<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meet The Team</h2>
                </div>
            </div>
            <div class="row team-members">
                <div class="col-sm-6">
                    <div class="team-member">
                        <%= image_tag("paul_collins.jpg", class: "team-image img-circle img-responsive center-block") %>
                        <h2 class="member-name">Paul Collins</h2>
                        <p class="member-title"><strong><i>Co-founder, Software Developer</i></strong></p>
                        <ul class="list-inline social-buttons">
                            <a href="https://www.linkedin.com/in/paulbcollins" target="_blank"><%= fa_stacked_icon "linkedin", base: "square-o" %></a>
                            <a href="https://www.facebook.com/paul.collins.750983" target="_blank"><%= fa_stacked_icon "facebook", base: "square-o" %></a>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <%= image_tag("jason_square.png", class: "team-image img-circle img-responsive" ) %>
                        <h2 class="member-name">Jason Amerine</h2>
                        <p class="member-title"><strong><i>Co-founder, Software Developer</i></strong></p>
                        <ul class="list-inline social-buttons">
                            <a href="https://www.linkedin.com/in/jasonamerine" target="_blank"><%= fa_stacked_icon "linkedin", base: "square-o "%></a>
                            <a href="https://www.facebook.com/amerine.19" target="_blank"><%= fa_stacked_icon "facebook ", base: "square-o" %></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          
        </div>
    </section>
